@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.Party {
  @include fullbleedAbs();
  background: $red;
}

.Party__video {
  @include fullbleedAbs();
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 800ms ease-in-out, visibility 800ms ease-in-out;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
  }

  &.-visible {
    visibility: visible;
    opacity: 1;
  }
}

.Party__kuula {
  @include fullbleedAbs();
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 800ms ease-in-out, visibility 800ms ease-in-out;
  background: $red;

  iframe {
    @media only screen and (min-width: 768px) and (min-height: 500px) {
      width: calc(100% - 375px) !important;

      .chat-closed & {
        width: 100% !important;
      }
    }
  }

  &.-visible {
    visibility: visible;
    opacity: 1;
  }
}

.Party__chat {
  position: absolute;
  width: 375px;
  height: 100%;
  top: 0;
  right: 0;
  display: none;
  opacity: 0;
  visibility: hidden;

  @media only screen and (min-width: 768px) and (min-height: 500px) {
    display: block;

    .chat-closed & {
      display: none;
    }
  }

  > div,
  iframe {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    border: 0;
  }

  &.-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 800ms ease-in-out, visibility 800ms ease-in-out;
  }
}

.Party__chat-close-btn {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background: url("/assets/images/close-button.png") center center no-repeat;
  background-color: #222222;
  background-size: contain;
}

.Party_nsss-logo {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 20px;

  @media only screen and (min-width: 768px) and (max-height: 500px) {
    bottom: 50px;
  }

  img {
    width: 100px;

    @media only screen and (min-width: 768px) and (min-height: 500px) {
      width: 130px;
    }
  }
}
