@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.Party {
  @include fullbleedAbs();
  background: $red;
}

.Party__video {
  @include fullbleedAbs();
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 800ms ease-in-out, visibility 800ms ease-in-out;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
  }

  &.-visible {
    visibility: visible;
    opacity: 1;
  }
}

.Party__kuula {
  @include fullbleedAbs();
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 800ms ease-in-out, visibility 800ms ease-in-out;
  background: $red;

  iframe {
    @media only screen and (min-width: 768px) {
      width: calc(100% - 375px) !important;
    }
  }

  &.-visible {
    visibility: visible;
    opacity: 1;
  }
}

.Party__chat {
  position: absolute;
  width: 375px;
  height: 100%;
  top: 0;
  right: 0;
  display: none;
  opacity: 0;
  visibility: hidden;

  @media only screen and (min-width: 768px) {
    display: block;
  }

  > div,
  iframe {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    border: 0;
  }

  &.-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 800ms ease-in-out, visibility 800ms ease-in-out;
  }
}

.Party_nsss-logo {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;

  img {
    width: 170px;
  }
}
